<h1>New Post</h1>
<div class="container">
  <%= form_with model: @post do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_area :content, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.submit class: 'btn btn-lg btn-success'%>
    </div>
  <% end %>
</div>